<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @animal.height %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @animal.mass %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
